# This configuration is intended for development purpose, it's **your** responsibility to harden it for production
version: '3.8'
services:
    mongodb:
        image: mongo:4.4.15
        # If you want to expose these ports outside your dev PC,
        # remove the "127.0.0.1:" prefix
        ports:
            - 27017:27017
        healthcheck:
            test: ['CMD', 'echo', '''db.runCommand("ping").ok''', '|', 'mongo', 'localhost:27019/test', '--quiet']
            interval: 5s
            timeout: 5s
            retries: 10
